header{
background-color: #d3d0c1;
padding: 40px 0px 40px 0px;

}

footer{
    background-color: #d3d0c1;
padding: 40px 0px 40px 0px;
}

h1{
    color: #311f20;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    flex-wrap: wrap;

}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
    color:whitesmoke
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:whitesmoke
}

/*BUTTONS*/
.button{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #a07a81;
    color:black;
    text-align: center;
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 10px;
    border: 2px solid black;
    transition-duration: 0.4;
    
}

.rightbuttons{
    float: right;
    
}

.leftbuttons{
    float: left;
   
}


.button:hover{
    background-color: #8c4d59;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5), 0 16px 50px 0 rgba(0,0,0,0.20);
}

.disabled{
    opacity: 0.6;
    cursor:not-allowed;
}


/*HOME BOXES*/
body,html{
    height:100%
}

.bg-text{
    background-color:whitesmoke;
    background: rgba(0,0,0,0.7);
    color:whitesmoke;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:2;
    width:80%;
    padding:30px;
    text-align: center;
}

.code-box{
    background-color:whitesmoke;
    background: rgba(160,122,129);
    color:whitesmoke;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 110%;
    left:30%;
    transform:translate(-50%,-50%);
    z-index:2;
    width:30%;
    padding:30px;
    text-align: center;
}
.ux-box{
    background-color:whitesmoke;
    background: rgba(160,122,129);
    color:whitesmoke;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 110%;
    left:70%;
    transform:translate(-50%,-50%);
    z-index:2;
    width:30%;
    padding:30px;
    text-align: center;
}
.carp-box{
    background-color:whitesmoke;
    background: rgba(160,122,129);
    color:whitesmoke;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 150%;
    left:30%;
    transform:translate(-50%,-50%);
    z-index:2;
    width:30%;
    padding:30px;
    text-align: center;
}

.type-box{
    background-color:whitesmoke;
    background: rgba(160,122,129);
    color:whitesmoke;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 150%;
    left:70%;
    transform:translate(-50%,-50%);
    z-index:2;
    width:30%;
    padding:30px;
    text-align: center;
}

/*footer*/

.footer-left{
    text-align: left;
    flex-wrap: wrap;
}

.footer-right{
    text-align:right;
    flex-wrap: wrap;
}


