header{
background-color: #ffe2c5;
padding: 40px 0px 40px 0px;

}

h1{
    color: darkslategrey;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    flex-wrap: wrap;

}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
    justify-content: flex-start;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    flex-wrap:wrap;
}

.button{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #94e6ff;
    color:black;
    text-align: center;
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 10px;
    transition-duration: 0.4;
    
}

.rightbuttons{
    float: right;
    border:darkblue;
}

.leftbuttons{
    float: left;
    border:darkblue;
}


.button:hover{
    background-color: #78a5bb;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5), 0 16px 50px 0 rgba(0,0,0,0.20);
}

.disabled{
    opacity: 0.6;
    cursor:not-allowed;
}

.section-one{
    background-color: #78a5b3;
    align-items: center;
    justify-content:center;
    height: 600px;
    background-size:100% 100%; 
    display: flex;
    flex-wrap: wrap;
}